.container-meme {
    width: 547px;
}

#list-image li, 
#fondos li,
#text-list li,
#color-text-list li,
#space-text-list li{
    width: 60%;
}

#fondos li {
    width: 60%;
}

#filtros li {
    width: 33%;
}

footer p{
    background-image: linear-gradient(to right, transparent 45%, #4000b5 48%, #3F51B5 53%, transparent 56%);
}