.container-meme {
    width: 860px;
}

#list-image li, 
#fondos li,
#text-list li,
#color-text-list li,
#space-text-list li{
    width: 60%;
}

#fondos li {
    width: 60%;
}

#filtros li {
    width: 33%;
}