*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: #140e21;
}

h1{
    color: var(--pink);
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 1.9rem;
    padding: 15px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

button{
    border: 0;
    font-family: var(--secundary-font);
    font-weight: bold;
    background: #f5e4af;
    padding: 9px;
    border-radius: 10px;
    font-size: 1.1rem;
}

button:hover{
    background: var(--yellow);
    color: var(--blue);
    transform: rotate(-9deg);
    transition-duration: 0.7s;
}

i{
    font-size: 1.3rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-size: 20px 20px;
    background: #140e21;
}

.container-meme{
    width: 90%;
    overflow: hidden;
}

.container-img-p{
    width: 100%;
    height: 50vh;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--secundary-font);
    background: var(--white);
    font-weight: bold;
    text-align: center;
    color: var(--blue);
    padding: 5px;
    background: #AE6BF2;
}

.top-text{
    display: block;
    /* justify-content: unset; */
    /* width: 100%; */
    border-radius: 5px 5px 0px 0px;
    /* height: 5vh; */
    font-size: 30px;
    padding: 5px;
    font-family: Impact;
    text-align: center;
    font-weight: unset;
}

.bottom-text{
    display: block;
    /* justify-content: unset; */
    /* width: 100%; */
    border-radius: 0px 0px 5px 5px;
    /* height: 5vh; */
    font-size: 30px;
    padding: 5px;
    font-family: Impact;
    text-align: center;
    font-weight: unset;
}

.container-img{
    width: 100%;
    height: 40vh;
    background: #ffffff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

figure{
    width: 100%;
    height: 26vh;
    overflow: hidden;
}

img{
    width: 100%;
    height: 26vh;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
}

.button button:hover{
    background-color: var(--yellow);
    font-weight: bold;
    color: var(--blue);
}

.oculto{
    display: none;
}

.img{
    width: 100%;
    height: 100vh;
    font-family: var(--secundary-font);
    background: var(--yellow);
    position: absolute;
    top: 0;
    right: 0;
}

.close-x-image{
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 1.6rem;
    margin-right: 47px;
    padding: 8px 8px 0px 0px;
}

/* #close-x-image{
    padding: 8px 8px 0px 0px;
} */

h2{
    text-align: center;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 80vh; */
    width: 90%;
}

form ul li {
    display: flex;
    flex-direction: column;
}

.button-reset{
    align-items: center;
}

h3{
    margin-bottom: 10px;
}

.container-p-hexa{
    display: flex;
    justify-content: flex-start !important;
}

#hexa-color, #hexa-color-p, #hexa-color-back{
    font-size: 1.2rem;
    background: unset;
}

#color, #color-p, #color-back-p{
    background: unset;
    border-width: 0;
    block-size: 35px;
}

#color::-webkit-color-swatch {
    border: 0;
    border-radius: 25px 0px;
}

#color-p::-webkit-color-swatch {
    border: 0;
    border-radius: 25px 0px;
}

#color-back-p::-webkit-color-swatch {
    border: 0;
    border-radius: 25px 0px;
}

#button-filter{
    width: 70px;
}

#button-filter:hover{
    transform: rotate(0);
}

#image{
    background-image: url();
}

.texto{
    width: 100%;
    height: 100vh;
    font-family: var(--secundary-font);
    background: var(--yellow);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.close-x-text {
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 1.6rem;
    margin-right: 47px;
    padding: 8px 8px 0px 0px;
}

.close-text{
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 1.6rem;
    margin-right: 47px;
    padding: 8px 8px 0px 0px;
}

.contorno{
    flex-direction: unset;
}