*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--gradient-dark);
    display: flex;
    flex-direction: column;
    background-attachment: fixed;

}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 22vh;
    background: var(--dark-blue);
    border-bottom: 1px solid var(--dark-green-middle);
}

h1{
    color: var(--light-blue);
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 4rem;
    padding: 15px 0px;
}

nav{
    margin-bottom: 15px;
}

nav ul{
    display: flex;
    flex-direction: unset;
}

button{
    border: 0;
    font-family: var(--secundary-font);
    font-weight: bold;
    background: var(--light-green);
    padding: 7px;
    border-radius: 10px;
    font-size: 1.1rem;
}

button:hover{
    transform: rotate(-9deg);
    transition-duration: 0.7s;
}

i{
    font-size: 1.3rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-meme{
    width: 90%;
    overflow: hidden;
    height: 56vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.container-img-p{
    width: 100%;
    overflow: hidden;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--secundary-font);
    background: var(--white);
    text-align: center;
    color: var(--light-green);
    padding: 5px;
    background: var(--purple);
}

#hexa-color{
    color: var(--light-blue);
}

.top-text{
    display: block;
    border-radius: 5px 5px 0px 0px;
    font-size: 25px;
    padding: 10px 50px;
    font-family: var(--primary-font);
    text-align: center;
    font-weight: unset;
    position: relative;
    z-index: 1;
}

.bottom-text{
    display: block;
    border-radius: 0px 0px 5px 5px;
    font-size: 25px;
    padding: 10px 50px;
    font-family: var(--primary-font);
    text-align: center;
    font-weight: unset;
    position: relative;
    z-index: 1;
}

.container-img{
    width: 100%;
    height: 30vh;
    background: var(--light-blue);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.oculto{
    display: none !important;
}

aside{
    width: 100%;
}

.img{
    width: 100%;
    font-family: var(--secundary-font);
    background: var(--dark-blue);
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 15px;
    border-bottom: 1px solid var(--dark-green-middle);
}

#image-button, #button-text{
    padding: 5px;
    color: var(--light-green);
    background: var(--dark-green);
    font-weight: normal;
}

#fondo, #button-color{
    padding: 5px;
    color: var(--light-green);
    background: var(--dark-green);;
    font-weight: normal;
}

#filtro, #button-space{
    padding: 5px;
    color: var(--light-green);
    background: var(--dark-green);;
    font-weight: normal;
}

#image-button:hover, #button-text:hover{
    transform: unset;
    transition-duration: unset;
}
#fondo:hover, #button-color:hover{
    transform: unset;
    transition-duration: unset;
}
#filtro:hover, #button-space:hover{
    transform: unset;
    transition-duration: unset;
}

#list-image, #text-list, #space-text-list{
    width: 100%;
    align-items: center;
    padding: 10px 0px;
    background: var(--dark-blue);
    border-bottom: 1px solid var(--dark-green-middle);
}

#input-image{
    background-color: var(--white);
}

#input-image::-webkit-file-upload-button {
    border: 2px solid var(--middle-purple);
    padding: 0.2em 0.4em;
    background-color: var(--light-purple);
}

#list-image li, 
#text-list li, 
#space-text-list li{
    display: flex;
    flex-direction: column;
    font-family: var(--secundary-font);
    width: 80%;
}

#fondos, #color-text-list{
    display: flex;
    align-items: center; 
    width: 100%;
    background: var(--dark-blue);
    font-family: var(--secundary-font);
    padding: 10px 0px;
    border-bottom: 1px solid var(--dark-green-middle);
}

.transparent-back{
    display: flex;
    align-items: center;
    flex-direction: unset !important;
}

#fondos li, #color-text-list li{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 80%;
}

#filtros{
    flex-flow: wrap;
    width: 100%;
    height: 40vh;
    background: var(--dark-blue);
    font-family: var(--secundary-font);
    padding: 10px 0px;
}

#filtros li{
    width: 40%;
    display: flex;
    flex-direction: column;
}

label{
    color: var(--light-blue);
}

#input-image-url{
    margin-bottom: 7px;
}

.close-x-image{
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 1.6rem;
    margin-right: 47px;
    padding: 8px 8px 0px 0px;
}

h2{
    text-align: center;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    list-style: none;
    gap: 10px;
}

form ul li {
    display: flex;
    flex-direction: column;
}

.button-reset{
    align-items: center;
}

#button-reset-filter{
    width: 35px;
}

#button-reset-filter:hover{
    transform: unset;
    width: 39px;
    border-radius: 17px;
    transition-duration: 0.3s;
}

#contorno-p-none, #contorno-p-light, #contorno-p-dark{
    transform: unset;
}

.fa-arrow-rotate-right:hover{
    transform: rotate(128deg);
    transition-duration: 0.5s;
}

h3{
    margin-bottom: 10px;
}

.container-p-hexa{
    display: flex;
    justify-content: flex-start !important;
}

#hexa-color, #hexa-color-p, #hexa-color-back{
    font-size: 1.2rem;
    background: unset;
}

#color, #color-p, #color-back-p{
    background: unset;
    border-width: 0;
    block-size: 35px;
}

#color::-webkit-color-swatch, 
#color-p::-webkit-color-swatch,
#color-back-p::-webkit-color-swatch{
    border: 0;
    border-radius: 30px;
}

#button-filter{
    width: 70px;
}

#button-filter:hover{
    transform: rotate(0);
}

#image{
    background-image: url();
}

.texto{
    width: 100%;
    height: 100vh;
    font-family: var(--secundary-font);
    background: var(--yellow);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.close-x-text {
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 1.6rem;
    margin-right: 47px;
    padding: 8px 8px 0px 0px;
}

.close-text{
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 1.6rem;
    margin-right: 47px;
    padding: 8px 8px 0px 0px;
}

.contorno{
    flex-direction: unset;
}

.botons-directions-txt{
    display: flex;
    justify-content: space-around;
    margin: 8px 0px;
}

.text-none{
    display: flex;
    align-items: center;
}

.transparent-back{
    justify-content: unset !important;
}

.text-none label, 
.transparent-back label{
    margin-right: 10px;
    color: #a29bfe;
}

.button-direction{
    padding: 4px;
}

footer{
    position: relative;
}

footer p{
    position: absolute;
    bottom: -115px;
    width: 100%;
    background: transparent;
    color: var(--light-green);
    font-family: var(--secundary-font);
    background-image: linear-gradient(to right, transparent 35%, #4000b5 46%, #3F51B5 54%, transparent 65%);
    letter-spacing: 2px;
}